<div class="main-container">
  <!--<div class="alert alert-app-level">...</div>-->
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Ampa Colegio Nueva Castilla</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">USUARIOOOOOOOOOOOR</span>
      </a>
    </div>
  </header>
  <!--<nav class="subnav">...</nav>-->
  <div class="content-container">
    <div class="content-area"><router-outlet/></div>
    <clr-vertical-nav><app-navigation usuario = "1"></app-navigation></clr-vertical-nav>
  </div>
</div>
